{% extends 'base.html' %}
{% block meta %}
    <title>Input Mata Kuliah</title>
{% endblock meta %}

    {% block content %}
    <a href="{% url 'Kegiatan:tambah-peserta' %}" class="btn btn-outline-dark btn-lg text-light">Tambah Peserta</a>
    <div class="container text-xl-center text-lg-center text-md-center text-sm-center big-wrapper">
        <div class="row d-flex justify-content-center">
            <div class="card m-2" style="width: 20rem">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Mabar DOTA 2</h5>
                </div>
            </div>
            <div class="card m-2" style="width: 20rem">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-dark">Mabar Mobile Legend</h5>
                </div>
            </div>
        </div>
        </div>
    {% endblock %}