{% extends 'base.html' %}
{% block meta %}
    <title>Tambah Peserta</title>
{% endblock meta %}

    {% block content %}
        <div class="container big-wrapper text-dark">
            <div class="form-group">
                <form method="POST"> {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value='Tambah' class="btn btn-outline-light btn-lg text-light btn-block matkuladd-button">
                </form>
            </div>
            <div class="container text-xl-center text-lg-center text-md-center text-sm-center big-wrapper">
            <div class="row d-flex justify-content-center">
                {% for peserta in PesertaForm %}
                <div class="card m-2" style="width: 20rem">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-dark">{{ peserta.nama }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    {% endblock %}