/* Nav */
.navbar {
  width: 100%;
  height: 10%;
} 

.navbar-brand {
  font-family: Rubik;
  font-style: bold;
  font-weight: normal;
  font-size: 30px;
  color: #FFFFFF;
}

.nav-link {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}



/* Header */
body {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0C2992 0%, rgba(0, 0, 0, 0.691667) 97.81%) no-repeat center fixed;
  background-size: cover;
}

.content h1 {
  position: absolute;
  left: 6px;
  top: 250px;
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 80px;
  text-align: left;
  color: #FFFFFF;
}

.content p {
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
}

.identitas p {
  position: absolute;
  width: 700px;
  width: 50%; 
  left: 1%;
  top: 90%;
  
  padding-left: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.7; 
  
  color: #FFFFFF;
  
  background: #1A2248;
  mix-blend-mode: normal;
  border: 10px solid #7B809F;
  box-sizing: border-box;
  border-radius: 35px;
}

.about-me p1 {
  position: absolute;
  width: 700px;
  width: 50%; 
  left: 1%;
  top: 20%;
  
  padding-left: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.7; 
  
  color: #FFFFFF;
  
  background: #1A2248;
  mix-blend-mode: normal;
  border: 10px solid #7B809F;
  box-sizing: border-box;
  border-radius: 35px;
}

.i {
  position: absolute;
  left: 6px;
  top: 600px;
}

.social-media {
  position: absolute;
  max-width: 200px;
  left: 75%;
  top: 75%;
}

.foto {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  left: 1%;
  top: 15%;
}

.riwayat {
  position: absolute;
  max-width: 400px;
  left: 50%;
  top: 25%;
}

li{
  color: #FFFFFF;
  margin: 1em;
}

form {
  color: #FFFFFF;
}

