{% extends 'base.html' %}
{% block meta %}
<title>Mata Kuliah</title>
{% endblock meta %}
    {% block content %}
        <div class="container big-wrapper">
        <h1 class="text-light mb-5" style="text-align: center; color: #ffffff !important;">{{ matkul.matakuliah }}</h1>
        <ul style="color: white;">
            <li>Dosen : {{ matkul.dosen }}</li>
            <li>Jumlah SkS : {{ matkul.sks }} SKS</li>
            <li>Deskripsi : {{ matkul.deskripsi }}</li>
            <li>semester : {{ matkul.semester }}</li>
            <li>Ruang : {{ matkul.kelas }}</li>
        </ul>
        </div>
    {% endblock %}