{% extends 'base.html' %}
{% load static%}

    {% block meta %}
    <title>Completed Games</title>
    {% endblock meta %}
      
{% block content %}
    <div class="about-me">
        <p1>
            Hello, I'm Aflah just an Enthusiastic Gamer. This is my list of the game I've been completed <br>
            - The Witcher 3: Wild Hunt <br>
            - Star Wars Jedi: Fallen Order <br>
            - The Elder Scrolls V: Skyrim <br>
            - Tomb Raider (2013) <br>
            - Far Cry 3 <br>
            - Far Cry 4 <br>
            - Grand Theft Auto V <br>
            - Sleeping Dogs <br>
            - Call of Duty 4: Modern Warfare 1, 2, 3 <br>
            - Assassin's Creed Black Flag, Rogue, Origins, Odyssey <br>
            - Pokemon Ruby, Emerald, Sapphire, Leaf Green, X, Ultra Sun, Omega Ruby <br>
        </p1>
    </div>
{% endblock content %}