{% extends 'base.html' %}
{% load static%}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
        <div class="wrapper">
            <header>
                <div class="content">
                    <h1>Welcome <br>
                    to my website</h1>
                    <p class="i">I am : <br>
                    Enthusiastic Gamer <br>
                    Black Belt Tae Kwon Do <br>
                    Student at University of Indonesia</p>
                </div>  
                    <img src= "{% static 'img/Social Media.png' %}" alt="" class="social-media">
            </header>
        </div>
    {% endblock content %}