{% extends 'base.html' %}
{% block meta %}
    <title>Input Mata Kuliah</title>
{% endblock meta %}

    {% block content %}
        <div class="container big-wrapper text-dark">
            <div class="form-group">
                <form method="POST"> {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value='Save' class="btn btn-outline-light btn-lg text-light btn-block matkuladd-button">
                </form>
            </div>
        </div>
    {% endblock %}