{% extends 'base.html' %}

{% block meta %}
<title>Mata Kuliah</title>
{% endblock meta %}
{% block content %}
    <div class="container text-xl-center text-lg-center text-md-center text-sm-center big-wrapper">
        <div class="row d-flex justify-content-left">
        {% for matkul in object_list %}
        <div class="card m-2" style="width: 20rem">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-dark">
                    {{ matkul.matakuliah }}
                </h5>
                <p class="card-text text-dark">
                    {{ matkul.deskripsi }}
                </p>
                <p class="card-text text-dark">
                    {{ matkul.kelas }}
                </p>
                <div class="mt-auto">
                <a href="{% url 'main:detail-matkul' matkul.pk %}" class="btn btn-outline-dark btn-lg text-dark btn-block matkul-buttons">Details</a>
                <a href="{% url 'main:remove-matkul' matkul.pk %}" class="btn btn-outline-dark btn-lg text-dark btn-block matkul-buttons">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}