{% extends 'base.html' %}
{% load static%}
    {% block meta %}
    <title>Profile</title>
    {% endblock meta %} 
  {% block content %}
        <div class="wrapper">
            <header>
                <div class="identitas">
                    <p>
                        Nama         : Aflah Alifu Na Mappatajang Rahman<br>
                        NPM          : 1906353675<br>
                        Angkatan     : 2019<br>
                        Hobi         : Taekwondo, Main game<br>
                        Deskripsi    : Agak Introvert, Senang Olahraga, Percaya Diri<br>
                        Sekolah      : Universitas Indonesia<br>
                    </p>
                </div>
                    <img src= "{% static 'img/Social Media.png' %}" alt="" class="social-media">
                    <img src= "{% static 'img/foto.png' %}" alt="" class="foto">
                    <img src= "{% static 'img/Riwayat Pendidikan.png' %}" alt="" class="riwayat">
            </header>
        </div>
{% endblock content %}