{% extends 'base.html' %}

    {% block content %}
        <div class="container text-xl-center text-lg-center text-md-center text-sm-center big-wrapper text-light">
            <h1 style="text-align: center; color: #ffffff !important;" class="mb-5">{{ matkul.matakuliah }}</h1>
            <div class="form-group mb-5">
                <form method="POST">
                    {% csrf_token %}
                    <strong>Delete {{ matkul.matakuliah }}, are you sure?</strong><br/>
            </div>
            <button class="btn btn-danger btn-block delete">Delete</button>
        </div>
    {% endblock %}